<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongji.simpleshelf.dao.mapper.erpsid.CwflNewMapper">

    <resultMap id="BaseResultMap" type="com.zhongji.simpleshelf.dao.domain.erpsid.CwflNew">
            <id property="fl" column="FL" jdbcType="VARCHAR"/>
            <result property="shuom" column="SHUOM" jdbcType="VARCHAR"/>
            <result property="xuanz" column="XUANZ" jdbcType="CHAR"/>
            <result property="gongylx" column="GONGYLX" jdbcType="VARCHAR"/>
            <result property="liyl" column="LIYL" jdbcType="FLOAT"/>
            <result property="tgfltqq" column="TGFLTQQ" jdbcType="FLOAT"/>
            <result property="kemu" column="KEMU" jdbcType="VARCHAR"/>
            <result property="hangxm" column="HANGXM" jdbcType="VARCHAR"/>
            <result property="subType" column="sub_type" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        FL,SHUOM,XUANZ,
        GONGYLX,LIYL,TGFLTQQ,
        KEMU,HANGXM
    </sql>

    <select id="listErpSidSummary" resultType="com.zhongji.simpleshelf.dao.domain.StatisticsSummary">
        SELECT CASE
                   WHEN (cwfl_new.shuom LIKE '%液罐%' OR cwfl_new.shuom LIKE '%箱%') and cwfl_new.shuom like '%不锈钢%' THEN 'YY'
                   WHEN (cwfl_new.shuom LIKE '%液罐%' OR cwfl_new.shuom LIKE '%箱%') and cwfl_new.shuom like '%碳钢%' THEN 'TY'
                   WHEN (cwfl_new.shuom LIKE '%液罐%' OR cwfl_new.shuom LIKE '%箱%') and cwfl_new.shuom like '%铝合金%' THEN 'JY'
                   WHEN cwfl_new.shuom LIKE '%粉罐%' AND tyjc061.shuom NOT LIKE '%水泥%' AND tyjc061.shuom NOT LIKE '%卧罐%' THEN 'UY'
                   ELSE 'Other'
                   END as sub_type,
               count(*)                  as num
        FROM cwfl_new,
             tycw101,
             tycp201,
             yzvin001,
             tycw100,
             tyjcdict,
             tyjc041,
             tyjc021,
             tysc301,
             tyjc061,
             tyxs211,
             tycp202
        WHERE tycw100.faph = tycw101.faph
          AND tycw100.danjlb = tycw101.danjlb
          AND tycw100.danjlb = tyjcdict.zhidxh(+)
          AND tyjcdict.zhidlb = '1603'
          AND tyjcdict.zhidxh LIKE 'S%'
          AND tycw101.vin = yzvin001.vin(+)
          AND tycw100.bizh = tyjc041.huob(+)
          AND tycw100.kehu = tyjc021.kehu(+)
          AND yzvin001.jisgf = tycp201.xiangm(+)
          AND tycp201.cwfl1 = cwfl_new.fl(+)
          AND tycw101.vin = tysc301.vin(+)
          AND tycw101.wuliao = tyjc061.wuliao(+)
          AND tycp201.gongcbh = tycp202.gongcbh(+)
          AND tycp202.heth = tyxs211.heth(+)
          AND tycw100.kaiprq >= #{startDate}
          AND tycw100.kaiprq &lt; #{endDate}
          AND tyjcdict.shuom IN ( '机动车专用发票', '销售增值税发票' )
          AND tycp201.naiwx != '外销'
	      AND tycw100.kehsm NOT IN ( '芜湖中集瑞江汽车有限公司', '山东万事达专用汽车制造有限公司', '洛阳中集凌宇液罐工厂' )
        GROUP BY CASE
            WHEN (cwfl_new.shuom LIKE '%液罐%' OR cwfl_new.shuom LIKE '%箱%') and cwfl_new.shuom like '%不锈钢%' THEN 'YY'
            WHEN (cwfl_new.shuom LIKE '%液罐%' OR cwfl_new.shuom LIKE '%箱%') and cwfl_new.shuom like '%碳钢%' THEN 'TY'
            WHEN (cwfl_new.shuom LIKE '%液罐%' OR cwfl_new.shuom LIKE '%箱%') and cwfl_new.shuom like '%铝合金%' THEN 'JY'
            WHEN cwfl_new.shuom LIKE '%粉罐%' AND tyjc061.shuom NOT LIKE '%水泥%' AND tyjc061.shuom NOT LIKE '%卧罐%' THEN 'UY'
            ELSE 'Other'
        END

    </select>

</mapper>
